:root {
  --navy: #002447;
  --lightBlue: #b2ebe0;
  --skinTone: #fbeceb;
  --comfyOrange: #feb249;
  --lightYellow: #f0ee9c;
  --lightGreen: #aebd77;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--lightGreen);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
